@mixin flex($j, $a, $d:row) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}

// 小于12像素的字 -> 参数为想要设置的字体大小
@mixin mini_font($size) {
  font-size: 12px;
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale($size/12);
}

@mixin grid($col,$row) {
  display: grid;
  grid-template-columns: repeat($col,1fr);
  grid-template-rows: repeat($row,1fr);
  justify-items: center;
  align-items: center;
}