@mixin flex($j, $a, $d:row) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}

// 小于12像素的字 -> 参数为想要设置的字体大小
@mixin mini_font($size) {
  font-size: 12px;
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale($size/12);
}

@mixin grid($col,$row) {
  display: grid;
  grid-template-columns: repeat($col,1fr);
  grid-template-rows: repeat($row,1fr);
  justify-items: center;
  align-items: center;
}

// 任务栏窗口公共盒子样式
@mixin box_border {
  line-height: normal;
  border-radius: 6px;
  box-shadow: 1px 1px 5px var(--global-window-shandow-color);
  overflow: hidden;
}

// 任务栏图标公共样式
//  留出 right 方便 开始菜单、搜索等单独设置
@mixin icon {
  position: absolute;
  bottom: 60px;
  transition: right 0.3s ease;
}