.myPopover{
  background-color: #f6f9fc !important;
  border-radius: 10px !important;
}
.n-image-preview-toolbar{
  bottom: 65px !important;
}

.app[data-theme='default']{
  /*
   * 全局
   */
  /* 主题色 */
  --global-theme-color: #0067c0;
  /* 占位符字体颜色 & 开始按钮搜索框字体颜色 */
  --global-placeholder-font-color: #616161;
  /*  字体颜色 */
  --global-font-color: #1a1a1a;
  /* 背景色 */
  --global-bg-color: #f3f3f3;
  /* 窗口阴影颜色 */
  --global-window-shandow-color: #79848e;
  /* 分割线颜色 */
  --global-window-division-color: #d3dfe9;
  /* 滚动条颜色 */
  --global-scrollbar-color: #7c7e86;
  /* 标题栏名称字体颜色 */
  --title-block-color: #373737;
  /* 搜索框边框颜色 */
  --global-searchbox-border: #e4e4e4;
  /* 搜索框背景色 */
  --global-background-color: #fff;
  /* 
   * 标题栏颜色
   */
  /* 调整窗口尺寸主窗口背景颜色 */
  /* 每一个窗格的颜色 */
  /* 边框颜色 */
  --winBox-pre-border-color: #827f83;
  /*
   * 设置相关
   */
  --set-first-font-color: var(--global-font-color);
  --set-first-select-bg-color: #eaeaea;
  --set-second-bg-color: #fbfbfb;
  --set-second-hover-bg-color: #f6f6f6;
  --set-second-font-color: var(--global-font-color);
  --set-second-desc-font-color: #5e5e5e;
  --set-second-top-font-color: var(--global-font-color);
  --set-second-top-desc-font-color: #565656;
  --set-bg-color: var(--global-bg-color);
  --set-leftTop-userInfo-font-color: #000000;
  /*
   * 开始菜单相关 
   */
  --start-main-bg-color: #f5f5f5;
  /* 底部背景色 */
  --start-footer-bg-color: #f1f1f1;
  --start-font-color: var(--global-font-color);
  --start-desc-font-color: #5d5d5d;
  --start-hover-bg-color: var(--global-background-color);
  --start-search-input-bg-color: var(--global-background-color);
  /* 右侧按钮（即切换所有应用的按钮）背景色 */
  --start-right-btn-bg-color: #f6f8fe;
  /* 右侧按钮边框色 */
  --start-right-btn-border-color: #bec5d3;
  /* 字母表有选项的字体颜色 */
  --start-letterlist-have-color: #29292a;
  /* 字母表无选项字体颜色 */
  --start-letterlist-none-color: #9699a1;
  /*
   * 日历相关 
   */
  --calendar-top-bg-color: #f0f0f0;
  --calendar-main-bg-color: var(--global-bg-color);
  --calendar-font-color: var(--global-font-color);
  --calendar-select-font-color: #fefeff;
  --calendar-lunar-font-color: #575757;
  --calendar-lunar-select-font-color: #e3eef8;
  --calendar-none-font-color: #939393;
  --calendar-none-lunar-font-color: #c6c6c6;
  --calendar-date-hover-color: #e0e8f0;
  --calendar-none-now-month-color: #a5abb1;
  --calendar-now-day-color: #fff;
  --calendar-header-end-color: #999da6;

  color: var(--global-font-color);
}